.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.post-info > p {
  font-size: 12px;
  color: grey;
}

.post-info > h2 {
  font-size: 15px;
}

.post-body {
  overflow-wrap: anywhere;
}

/* .post-body > img {
  width: 400px;
  height: 400px;
} */

.post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
